.header-bar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Add any background color you want */
  border-bottom: 1px solid #ccc; /* Add a border or customize as needed */
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.header-bar h1 {
  text-align: center;
  margin: 0;
}